<h1>Изменения курсов за последние 4 недели</h1>

<p>
  В таблице показаны значения курсов валют на понедельник каждой недели и изменение курса в процентах
  на конец недели. Так как Центробанк РФ (а курсы берутся из его данных) не публикует изменения курсов валют
  в течение выходных дней, фактически, в таблице показаны изменения курсов с понедельника по пятницу каждой
  недели.
</p>

<%= render partial: 'table', locals: { table_data: @table_data } %>
