<h1>График изменений курсов валют за последний месяц</h1>

<div id="chart"></div>

<script>
  var vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)

  var chart = c3.generate({
    size: {
      height: vh * 0.7,
    },
    data: {
      x: 'x',
      columns: [
        ['x',   <%= raw @dates %>],
        ['USD', <%= raw @usd_rates %>],
        ['EUR', <%= raw @eur_rates %>],
        ['CNY', <%= raw @cny_rates %>]
      ],
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {
          format: '%Y-%m-%d'
        }
      }
    },
  });
</script>
