<h1>Currency Rates</h1>

<div id="chart"></div>

<script>
  var chart = c3.generate({
    data: {
      x: 'x',
      columns: [
        ['x',   <%= raw @dates %>],
        ['USD', <%= raw @usd_rates %>],
        ['EUR', <%= raw @eur_rates %>]
      ],
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {
          format: '%Y-%m-%d'
        }
      }
    }
  });
</script>

